{
  "retry_join": [
    "consul_server_1",
    "consul_server_2",
    "consul_server_3"
  ],
  "server": true,
  "leave_on_terminate": true,
  "datacenter": "dc1",
  "advertise_addr": "{{getv "/self/container/primary_ip"}}",
  "bind_addr": "{{getv "/self/container/primary_ip"}}",
  "client_addr": "127.0.0.1",
  "bootstrap_expect": {{getv "/self/stack/services/server/scale"}},
  "data_dir": "/var/consul",
  "encrypt": "{{getv "/stacks/consul/services/server/metadata/enc.key"}}",
  "ca_file": "/opt/rancher/ssl/ca.crt",
  "cert_file": "/opt/rancher/ssl/consul.crt",
  "key_file": "/opt/rancher/ssl/consul.key",
  "verify_incoming": true,
  "verify_outgoing": true,
  "log_level": "INFO"
}
